<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Contacts</h2>
        <a class="btn btn-success pull-right" style="margin-top: -45px;" [routerLink]="['new']">New Contact</a>
      </div>
      <div class="panel-body">
         <cms-contact-item 
         *ngFor="let contact of contacts" 
         [contact]="contact" 
         dnd-draggable 
         [dragEnabled]="true" 
         [dragData]="contact" 
         [dropZones]="['contactGroup']">
        </cms-contact-item>
      </div>
    </div>
  </div>
</div>