<div class="row">
  <div class="col-xs-12">
    <!-- <div class="panel panel-default" *ngFor="let contact of contacts"> -->
    <div class="panel panel-default">
      <div class="panel-heading" style="min-height: 170px;">
        <h3>{{ contacts.name }}</h3>
        <span class="pull-left">
          <img [src]="contacts.imageUrl" alt="{{ contacts.name }}" class="img-responsive" style="max-height: 90px;">
        </span>
        <button class="btn btn-primary pull-right" style="margin: 5px 10px;">Edit</button>
        <button class="btn btn-danger pull-right" style="margin: 5px 10px;">Delete</button>
      </div>
      <div class="panel-body">
        <h6>Email: {{ contacts.email }}</h6>
        <h6>Phone: {{ contacts.phone }}</h6>
      </div>
    </div>
  </div>
</div>
